cbs.ktapps.net {
    encode zstd gzip
    root * /srv
    handle_path /static/* {
        file_server
    }
    handle_path /certificates/* {
        file_server
    }
    handle_path /badges/* {
        file_server
    }
    @health path /healthz
    reverse_proxy @health app:8000
    handle {
        reverse_proxy app:8000
    }
}
