cbs.ktapps.net {
    encode zstd gzip
    root * {$SITE_ROOT}
    handle /static/* {
        file_server
    }
    handle /badges/* {
        file_server
    }
    @health path /healthz
    reverse_proxy @health app:8000
    handle {
        reverse_proxy app:8000
    }
}
