cbs.ktapps.net {
    encode zstd gzip
    root * /srv

    # Static:
    handle_path /resources/* {
        file_server
    }
    handle_path /badges/* {
        file_server
    }

    # Everything else goes to Flask (this includes /certificates/new)
    handle {
        reverse_proxy app:8000
    }
}
