{% extends 'base.html' %}
{% block title %}{{ 'New User' if not user else 'Edit User' }}{% endblock %}
{% block content %}
<h1>{{ 'New User' if not user else 'Edit User' }}</h1>
<form method="post" autocomplete="off">
  <input type="text" style="display:none">
  <input type="password" style="display:none">
  {% if not user %}
  <div><label>Email <input type="email" name="email" required autocomplete="off"></label></div>
  {% else %}
  <div><label>Email <input type="email" name="email" value="{{ user.email }}" readonly autocomplete="off"></label></div>
  {% endif %}
  <div><label>First Name <input type="text" name="first_name" value="{{ user.first_name if user else '' }}" required></label></div>
  <div><label>Last Name <input type="text" name="last_name" value="{{ user.last_name if user else '' }}" required></label></div>
  <div><label>Title <input type="text" name="title" value="{{ user.title if user else '' }}"></label></div>
  {% if current_user.is_app_admin %}
  <div><label>Password <input type="password" name="password" autocomplete="new-password"></label></div>
  <div><label>Confirm Password <input type="password" name="password_confirm" autocomplete="new-password"></label></div>
  {% endif %}
  <div><label>Region
    <select name="region" required>
      <option value="">--Select--</option>
      {% for opt in ['NA','EU','SEA','Other'] %}
      <option value="{{ opt }}" {% if user and user.region==opt %}selected{% endif %}>{{ opt }}</option>
      {% endfor %}
    </select>
  </label></div>
  <div>
    <label><input type="checkbox" name="is_app_admin" {% if user and user.is_app_admin %}checked{% endif %} {% if not current_user.is_app_admin %}disabled{% endif %}> Application Admin</label><br>
    <label><input type="checkbox" name="is_admin" {% if user and user.is_admin %}checked{% endif %}> Admin</label><br>
    <label><input type="checkbox" name="is_kcrm" {% if user and user.is_kcrm %}checked{% endif %}> KCRM</label><br>
    <label><input type="checkbox" name="is_certificate_manager" {% if user and user.is_certificate_manager %}checked{% endif %}> Certificate Manager</label><br>
    <label><input type="checkbox" name="is_kt_delivery" {% if user and user.is_kt_delivery %}checked{% endif %}> KT Delivery</label><br>
    <label><input type="checkbox" name="is_kt_contractor" {% if user and user.is_kt_contractor %}checked{% endif %}> KT Contractor</label><br>
  </div>
  <button type="submit">Save</button>
</form>
{% endblock %}

