/* KT link styles */
a {
  color: var(--kt-info);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--kt-primary-hover);
  text-decoration: underline;
}

a:visited {
  color: var(--kt-primary);
}

a:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 2px;
}
