{% extends 'base.html' %}
{% block title %}Resource{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.js"></script>
{% endblock %}
{% block content %}
<h1>{% if resource %}Edit{% else %}New{% endif %} Resource</h1>
<form method="post" enctype="multipart/form-data" data-dirty-guard="true">
  <label>Name <input type="text" name="name" value="{{ resource.name if resource else '' }}"></label><br>
  <label>Type
    <select name="type">
      {% set cur = resource.type if resource else 'LINK' %}
      <option value="LINK" {% if cur=='LINK' %}selected{% endif %}>Link</option>
      <option value="DOCUMENT" {% if cur=='DOCUMENT' %}selected{% endif %}>Document</option>
      <option value="APP" {% if cur=='APP' %}selected{% endif %}>App</option>
    </select>
  </label><br>
  <label>Audience
    {% set current_audience = resource.audience if resource else 'Participant' %}
    <select name="audience">
      {% for choice in audience_choices %}
        <option value="{{ choice }}" {% if current_audience == choice %}selected{% endif %}>{{ choice }}</option>
      {% endfor %}
    </select>
  </label><br>
  <label>Language
    {% set current_lang = resource.language if resource else default_language %}
    <select name="language">
      {% for code, label in language_options %}
        <option value="{{ code }}" {% if current_lang == code %}selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </label><br>
  <label>Link <input type="url" name="link" value="{{ resource.resource_value if resource and resource.type in ['LINK','APP'] else '' }}"></label><br>
  <label>File <input type="file" name="file"></label><br>
  {% if resource and resource.public_url %}
    <p class="current-resource-file">
      Current file:
      <a href="{{ resource.public_url }}" download>
        Download {{ resource.document_filename or 'file' }}
      </a>
    </p>
  {% endif %}
  <label>Description</label><br>
  <input type="hidden" id="description" name="description" value="{{ resource.description_html |e if resource else '' }}">
  <trix-editor input="description"></trix-editor><br>
  <fieldset>
    <legend>Workshop Types</legend>
    {% set selected = [] %}
    {% if resource %}
      {% set selected = resource.workshop_types | map(attribute='id') | list %}
    {% endif %}
    {% for wt in workshop_types %}
      <label>
        <input type="checkbox" name="workshop_types" value="{{ wt.id }}"
               {% if wt.id in selected %}checked{% endif %}>
        {{ wt.code }}
      </label>
    {% endfor %}
  </fieldset>
  <label><input type="checkbox" name="active" {% if not resource or resource.active %}checked{% endif %}> Active</label><br>
  <button type="submit">Save</button>
</form>
{% endblock %}
