{% block title %}Resource{% endblock %}
{% block content %}
<h1>{% if resource %}Edit{% else %}New{% endif %} Resource</h1>
<form method="post" enctype="multipart/form-data">
  <label>Name <input type="text" name="name" value="{{ resource.name if resource else '' }}"></label><br>
  <label>Type
    <select name="type">
      {% set cur = resource.type if resource else 'LINK' %}
      <option value="LINK" {% if cur=='LINK' %}selected{% endif %}>Link</option>
      <option value="DOCUMENT" {% if cur=='DOCUMENT' %}selected{% endif %}>Document</option>
      <option value="APP" {% if cur=='APP' %}selected{% endif %}>App</option>
    </select>
  </label><br>
  <label>Link <input type="url" name="link" value="{{ resource.resource_value if resource and resource.type in ['LINK','APP'] else '' }}"></label><br>
  <label>File <input type="file" name="file"></label><br>
  <fieldset>
    <legend>Workshop Types</legend>
    {% set selected = [wt.id for wt in resource.workshop_types] if resource else [] %}
    {% for wt in workshop_types %}
      <label><input type="checkbox" name="workshop_types" value="{{ wt.id }}" {% if wt.id in selected %}checked{% endif %}> {{ wt.name }}</label><br>
    {% endfor %}
  </fieldset>
  <label><input type="checkbox" name="active" {% if not resource or resource.active %}checked{% endif %}> Active</label><br>
  <button type="submit">Save</button>
</form>
{% endblock %}
