<!doctype html>
<title>Dashboard</title>
{% with msgs=get_flashed_messages(with_categories=true) %}
  {% if msgs %}
  <div class="flashes">
    {% for cat,msg in msgs %}
      {% set cat = {
        'message':'info',
        'info':'info',
        'success':'success',
        'warning':'warning',
        'error':'error',
        'danger':'error'
      }.get(cat, 'info') %}
      <div class="flash flash-{{ cat }}" role="alert" aria-live="polite" tabindex="0">{{ msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
{% endwith %}
{% include 'nav.html' %}
<p>Welcome, {{ email }}</p>
