{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if active_view == 'LEARNER' or is_csa %}
  {% include 'shared/_welcome.html' %}
{% endif %}
{% if active_view == 'ADMIN' %}
  {% include 'home/_admin.html' %}
{% elif active_view in ['SESSION_MANAGER', 'SESSION_ADMIN'] %}
  {% include 'home/_sessions.html' %}
{% elif active_view == 'MATERIAL_MANAGER' %}
  {% include 'home/_materials.html' %}
{% elif active_view == 'DELIVERY' %}
  {% include 'home/_delivery.html' %}
{% else %}
  {% include 'home/_learner.html' %}
{% endif %}
{% endblock %}
