{% extends 'base.html' %}
{% block title %}My Certificates{% endblock %}
{% block content %}
<h1>My Certificates</h1>
<ul>
{% for c in certs %}
  <li>
    {{ c.workshop_name }} - {{ c.workshop_date }}
    <a href="/certificates/{{ c.pdf_path }}" download>Certificate</a>
    {% set badge_slug = c.session.workshop_type.badge if c.session and c.session.workshop_type else None %}
    {% if badge_slug %}
      <a href="/badges/{{ badge_slug }}.webp" download><img src="/badges/{{ badge_slug }}.webp" alt="{{ badge_slug }} badge" style="height:20px;width:auto;vertical-align:middle;"></a>
      <a href="/badges/{{ badge_slug }}.webp" download>Badge</a>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
