{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
{% with msgs=get_flashed_messages(with_categories=true) %}
  {% if msgs %}<ul class="flashes">{% for cat,msg in msgs %}<li class="{{cat}}">{{msg}}</li>{% endfor %}</ul>{% endif %}
{% endwith %}
<h1>Reset Password</h1>
<form method="post">
  <input type="hidden" name="token" value="{{ token }}">
  <p>New password: <input type="password" name="password" autocomplete="new-password"></p>
  <p>Confirm: <input type="password" name="password_confirm" autocomplete="new-password"></p>
  <p><button type="submit">Reset</button></p>
</form>
{% endblock %}
