{% extends "base.html" %}
{% block content %}
<h2>Sessions</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for m in messages %}
    <li>{{ m }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endwith %}
<p><a href="{{ url_for('sessions_new_form') }}">New Session</a></p>
<table border="1" cellpadding="4" cellspacing="0">
  <tr>
    <th>Session ID</th>
    <th>Company</th>
    <th>Workshop Code</th>
    <th>Workshop Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Created</th>
  </tr>
  {% for uid, sid, company, workshop_short, workshop_full, start, end, created in rows %}
  <tr>
    <td><a href="{{ url_for('sessions_detail', session_uid=uid) }}">{{ sid }}</a></td>
    <td>{{ company }}</td>
    <td>{{ workshop_short }}</td>
    <td>{{ workshop_full }}</td>
    <td>{{ start }}</td>
    <td>{{ end }}</td>
    <td>{{ created }}</td>
  </tr>
  {% else %}
  <tr><td colspan="7">No sessions</td></tr>
  {% endfor %}
</table>
<p><a href="/">Back</a></p>
{% endblock %}

